{% extends 'base/navbar.html' %}

{% load staticfiles %}

{% block content %}
<div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('{% static 'base/img/our_promise_suit.jpg' %}'); height: 20vh;">
      <div class="carousel-caption d-none d-md-block" style="bottom: 0; padding-bottom: 0;">
      </div>
    </div>
  </div>
<div class="row">
  <div>
    <h2>ISO 14001 내부심사원 과정</h2>
    <br><br>
    <div class="specific-content">
      <h3>교육대상</h3><br>
        <p style="padding-left: 20px;">경영시스템 인증심사원(보) 자격 이상 소지자(필수:KAR 등록), ISO 14001 내부심사원, 사내 환경전문가, ISO 14001 인증심사원 자격취득 및 자격확대 등록 희망자</p>
      <br><br>
      <h3>교육목표</h3><br>
      <ul>
        <li>ISO 14001 환경경영시스템 인증심사를 수행하기 위한 인증심사원 양성(자격인증기관 등록 인증심사원자격취득) </li>
        <li>ISO 14001 환경경영시스템 수준을 한 단계 업그레이드하기 위한 협력업체 평가요원(심사원) 양성 </li>
        <li>사내 환경경영시스템 구축 및 운영 전문가 양성, 내부심사원 양성 및 심사원 자질 향상</li>
        <li> ISO 14001 환경경영시스템 컨설턴트 양성 및 관련분야 전문지식 함양, 기존 심사원의 인증심사 분야 확대 및 자질향상</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}